*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: seagreen;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div{
    position:relative;
}

input{
    width: 30vw;
    height: 5vh;
    border:0;
    outline: 0;
    border-radius: 15px;
    font-size: 16pt;
    padding-left: 15px;
    padding-right: 50px;
}

div i{
    font-size: 20pt;
    position: absolute;
    right: 5%;
    top: 15%;
    cursor: pointer;
    color: #cac9c9;
}