*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    height: 1900px;
}

nav.menu-lateral{
    width:5vw;
    height:100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow:3px 0 0 #ff0077;/*Adiciona a barrinha lateral*/
    position:fixed;/*Fixar o menu lateral quando rolar o scroll*/
    overflow: hidden;
    transition: 0.3s;

}


.btn-expandir{
    width:100%;
    padding-left:10px;
}


nav.menu-lateral.alternar{
    width: 20vw;
}

.btn-expandir > i{
    color:#fff;
    font-size: 35px;
    cursor:pointer;
}
ul li.ativo{
    background-color: #ff0077;
}


ul{
    height: 100%;
    list-style-type:none;/*faz com que as bolinhas desapareçam*/
}
ul li.item-menu{
    transition: 0.2s;
}

ul li.item-menu:hover{
    /*background-color: #ff0077;*/
    background-color: #ff0077;
}

ul li.item-menu a{
    color:#fff;
    text-decoration: none;
    font-size:20px;
    padding:20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;/*Alinhando os icones com os nome*/
    margin-left: 5px;
}

ul li.item-menu a .txt-link{
    margin-left: 20px;
}

ul li.item-menu a .icon > i{
    font-size:35px;
}

